<!DOCTYPE html>
<html>
  <head>
  <title>Video Flags</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  </head>
  <body>

    <div class="container">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
			
			<li>
				<% if user_signed_in? %>
					<%= link_to "Logout", signout_path, :method=>'delete' %>  
				<% else %>
					<%= link_to "Sign in", user_omniauth_authorize_path(:facebook) %>
				<% end %>
			</li>

        </ul>
        <h3 class="muted">Video Flag</h3>
      </div>

      <hr>


		<%= yield %>
		<hr>
      <div class="footer">
        <p>&copy; Marioneta 2013</p>
      </div>

    </div> <!-- /container -->

    


  </body>
</html>